/*
 *
 *
 */

/*
 ***************************************************
 *	Footer
 ***************************************************
 */
.footer_default {
    position: relative;
    margin-top: 2em;
    border-top: thin solid #BBBBBB;
    background-color: black;
    color: white;
    text-align: center;
}


/*
 ***************************************************
 *	Header
 ***************************************************
 */
.header-section {
    margin-bottom: 10px;
}

.header-blocks {
    float: left;
}

.header-title {
    font-size: 18pt;
    font-weight: bold;
}

.header-block-title {
    padding-left: 10px;
    padding-top: 30px;
}


/*
 ***************************************************
 *	Result
 ***************************************************
 */
.title_current {
    font-weight: bold;
    text-decoration: underline;
}

.title_forecast {
    font-weight: bold;
    text-decoration: underline;
}

.current_section {
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    background-color: #f7ea96;
}

/*
 ***************************************************
 *	forecast
 ***************************************************
 */
.forecast_section {
    margin-top: 15pt;
    border-top: thin solid #BBBBBB;
}

.forecast-tab {
    margin-top: 15px;
}

.forecast-tab-labels {
    font-size: 10pt;
}

.forecast-tab-even {
    background-color: #b7c0ce;
    border-right: solid 1px white;
}

.forecast-tab-odd {
    background-color: #eaeff7;
    border-right: solid 1px white;
}

.forecast-tab-data {
    font-size: 10pt;
}

/*
 ***************************************************
 *	Filter
 ***************************************************
 */
.filter_section {
    padding: 10px;
    background-color: #c9e2d6;
    border: 1pt solid #8f9b97;
    border-radius: 5pt;
}

.filter_label {
    font-weight: bold;
}

.filter_button {
    margin-left: 10px;
}

.form-max-width {
    width: 100%;
}


/*
 ***************************************************
 *	Map
 ***************************************************
 */
.map-style {
    width: 100%;
    max-height: 182px !important; 
    height: 100%;
}


/*
 ***************************************************
 *	Chart
 ***************************************************
 */
.chart-style {
    max-height: 350px !important; 
    height: 100%;
}


/*
 ***************************************************
 *	No city
 ***************************************************
 */
.no-city-title {
    text-decoration: underline;
    font-weight: bold;
}

.no-city-example {
    padding-left: 20px;
}


/*
 ***************************************************
 *	About Page
 ***************************************************
 */
.about-title {
    font-size: 18pt;
    font-weight: bold;
    text-decoration: underline;
}

.about-content {
    font-size: 10pt;
}


/*
 ***************************************************
 *	Contact Page
 ***************************************************
 */
.contact-title {
    font-size: 18pt;
    font-weight: bold;
    text-decoration: underline;
}

.contact-content {
    font-size: 10pt;
}
